body{
    background-color: rgb(13, 11, 15);
    color: #fff;
    font-size: large;
}
.cuerpo{
    display: flex;
    flex-direction: column;    
}  
.container{
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}
.cal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 35, 35);
    width: 30%;
    padding: 2.6rem 0.6rem;
    border-radius: 1.2rem;
    gap: 1.5rem;

}
.cal h2, .cal h3{
    margin: 0;
} 
input{
    color: #fff;
    height: 2.6rem;
    width: 90%;
    border-radius: 10px;
    background-color:rgb(35, 35, 35);
    border: none;
    border-bottom: solid 2px rgb(159, 159, 159);
    text-align: center;
    font-size: 1rem;
    
}
input::placeholder{
    text-align: center;
    font-size: 0.95rem;
}
input:hover{
    border-color: #fff;
    cursor: text;
}
input:hover::placeholder{
    color: #fff;
}
input:focus{
    color: #fff;
    outline: none;
    border: none;
    border-bottom: solid 2px #fff;
    background: linear-gradient(to bottom,rgb(35, 35, 35),rgb(74, 73, 73));
}
.modal-backg{
    box-sizing: border-box;
    width: 99.9%;
    height: 100%;
    background: rgba(62, 61, 61, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    
}
.modal{
    background-color:rgb(13, 11, 15);
    width: 560px;
    height: 220px;
    border-radius: 15px;
    box-shadow: 5px 7px 20px 3px rgb(133, 133, 133);
    padding:50px 30px;
    
    margin: auto;
    text-align: center;
    color: #fff;
}
h4{
    padding-top: 10px;
}
@keyframes aparecer{
    0%{
        opacity: 0;
        display: flex;
    }
    100%{
        opacity: 1;
        display: flex;
    }
}
.botones{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap:28%;
}
button{
    width: 7.5rem;
    height: 3.6rem;
    font-size: large;
    color: #fff;
    background-color: rgba(62, 61, 61, 0.5);
    border: 3px outset #000;
    border-radius: 1rem;
}
.añadir{
    color: rgb(10, 132, 239);
}

button:hover{
    box-shadow: 1px 3px 15px 1px;
    cursor: pointer;
}